@CHARSET "UTF-8";

.review_list_wrap{
	width: 800px;
	min-height: 700px;
	margin: 30px auto;
}

.review_list_wrap h3{
	margin-top: 40px;
}

.review_list_wrap p{
	font-size: 12px;
	color : #ff0057;
	padding-left: 20px;
	margin-bottom: 40px;
}

.review_select{
	float: left;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 60px;
}
.review_created{
	float: right;
	margin-bottom: 10px;
	color:#d6d6d6
}


.review_list_table{
	width: 700px;
	margin: 10px auto 20px;
	
}

.review_list_table div{
	height : 30px;
}

.review_list_table>tbody>tr>td, .review_list_table>tbody>tr>th, .review_list_table>tfoot>tr>td, .review_list_table>tfoot>tr>th, .review_list_table>thead>tr>td, .review_list_table>thead>tr>th {
	vertical-align: middle;
	padding: 8px;
    line-height: 40px;
    border-top: 1px solid #ddd;
}
