@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.group_mylist{
	width: 100%;
    text-align: center;
    height: 50px;
    background: #f2f2f2;	
}

.group_mylist>button{
	margin: 10px 40px;
	width: 150px;
}

.groupCreated{
	width: 700px;
	margin: 20px auto;
}

#attachDiv{
	max-height: 300px;
}

#attachDiv input[type=text]{
	width: 100px;
}

#attachDiv input[type=button]{
	width: 36px;
}

.mylistBar{
	height: 30px;
    background: rgba(230, 241, 255, 1);
    text-align: center;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Jeju Gothic', serif;
    padding-top: 5px;
}