@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.news_list_wrap{
	width: 800px;
	min-height: 700px;
	margin: 30px auto;
}

.news_list_wrap>h3{
	margin-top: 40px;
	font-family: 'Jeju Gothic', serif;
}

.news_list_wrap>p{
	font-size: 12px;
	color : #337ab7;
	padding-left: 20px;
	margin-bottom: 40px;
}

.news_search_wrap{
	width : 700px;
	height : 50px;
	box-sizing: border-box;
}

.news_search_wrap *{
	height: 40px;
}

.news_search_wrap>div{
	float: left;
	
}

.news_search_wrap>form{
	float: right;
}

.news_search_select{
	float : left;
	width : 100px;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.news_search_input{
	float : left;
	width : 100px;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0px 10px;
}

.news_search_btn{
	height: 30px;
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.news_list_table{
	width: 700px;
	margin: 10px auto 20px;
	border-collapse: collapse;
}

.news_list_table img{
	width: 100%;
	height: 100%;	
}

.news_list_table .news_subject{
	font-size: 20px;
	font-weight: bold;
	height: 100px;
	padding-top: 35px;
}

.news_list_table .news_content{
	height: 50px;
	padding-top: 15px;
}

.news_list_table .news_create{
	height: 50px;
	padding-top: 15px;
}


.news_list_table .news_hitCount{
	text-align: right;
	height: 50px;
	padding-top: 15px;
}

.news_list_table .news_likeCount{
	text-align: right;
	height: 50px;
	padding-top: 15px;
	font-size: 18px;	
}

.news_list_table .news_likeCount span{
	color : red;
}

.news_list_paging{
	text-align: center;
}

.news_admin_created{
	text-align: right;
}



