@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


.group_article_wrap h3{
	margin-top: 40px;
	font-family: 'Jeju Gothic', serif;
	margin-bottom: 20px;
}

.group_article_info{
	width: 100%;
	height: 180px;
	BACKGROUND: #EEE;
}

.group_article_info_image{
	width: 30%;
	height: 100%;
	float: left;
}

.group_article_info_image>img{
	width: 100%;
	height: 100%;
}

.group_article_info_name>strong{
	font-size: 30px;
}

.group_article_info_name>button{
	float: right;
	margin-top: 9px;
}

.group_article_info_tag{
	height: 50%;
}

.group_article_info_created{
	text-align: left;
    padding: 10px 0px;
}

.groupNo{
	width: 100%;
    height: 401px;
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 160px;
}

.group_article_info_intro{
	width: 100%;
	height: 110px;
	PADDING-TOP: 10PX;
    BACKGROUND: #f9f9f9;
    BORDER-BOTTOM: 1PX SOLID #EEE;
}

.group_article_info_member{
	width: 100%;
	height: 110px;
	
}

.group_admin_imgBtn{
	position: absolute;
    top: 358px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px;
    color: white;
}

.group_info_introBtn{
    border: 0px;
    BACKGROUND: NONE;
    COLOR: #393635;
    FONT-SIZE: 11PX;
}



