@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.topBar{
	height: 50px;
    background: rgba(3, 169, 244, 0.50);
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Jeju Gothic', serif;
    padding-top: 13px;
}

.topBar>a{
	border: 1px solid #ffffff;
    border-radius: 22px;
    padding: 0 9px 0 11px;
    font-size: 13px;
    color: white;
    vertical-align: text-top;
}


.review_list_wrap{
	width: 800px;
	min-height: 700px;
	margin: 30px auto;
}

.review_list_wrap h3{
	margin-top: 40px;
	font-family: 'Jeju Gothic', serif;
}

.review_list_wrap p{
	font-size: 12px;
	color : #337ab7;
	padding-left: 20px;
	margin-bottom: 40px;
}

.review_select{
	float: left;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 60px;
}
.review_created{
	float: right;
	margin-bottom: 10px;
	color:#d6d6d6
}


.review_list_table{
	width: 700px;
	margin: 10px auto 20px;
	
}

.review_list_table div{
	height : 30px;
}

.review_list_table>tbody>tr>td, .review_list_table>tbody>tr>th, .review_list_table>tfoot>tr>td, .review_list_table>tfoot>tr>th, .review_list_table>thead>tr>td, .review_list_table>thead>tr>th {
	vertical-align: middle;
	padding: 8px;
    line-height: 40px;
    border-top: 1px solid #ddd;
}
