<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="claim">
	<insert id="insertClaim" parameterType="com.final_project.help.Claim">
		INSERT INTO claim(claimNum, subject, content, hitCount, mId, category) VALUES
		(claim_seq.NEXTVAL, #{subject}, #{content}, #{hitCount}, #{mId}, #{category})
	</insert>

<sql id="where-list">
	  <if test="searchKey=='userName'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	       INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>
	  <if test="searchKey=='created'">
	      TO_CHAR(b.created, 'YYYY-MM-DD') = #{searchValue}
          OR TO_CHAR(b.created, 'YYYYMMDD') = #{searchValue}
	  </if>
	</sql>	
	
	
<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	  SELECT NVL(COUNT(*), 0) FROM claim b
	        JOIN member m
	        ON b.mId=m.mId
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	
	
	<!-- 글리스트 -->
	<select id="listClaim" parameterType="map"
	            resultType="com.final_project.help.Claim">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT claimNum, b.mId, subject
			           ,TO_CHAR(b.created, 'YYYY-MM-DD') created
					   ,hitCount, category, m.mName
			        FROM claim b JOIN member m ON b.mId=m.mId
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
	                ORDER BY claimNum DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
<!-- 	글보기 -->
	<select id="readClaim" resultType="com.final_project.help.Claim" parameterType="Integer">
		SELECT claimNum, b.mId, subject, content
				   ,hitCount, b.created
		FROM claim b JOIN member m ON b.mId=m.mId
		WHERE claimNum = #{claimNum}
	</select>
	
<!-- 	조회수 증가 -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE claim SET hitCount=hitCount+1 WHERE claimNum = #{claimNum}
	</update>
	
	<!-- 삭제 -->
      <delete id="deleteClaim" parameterType="Integer">
            DELETE FROM claim WHERE claimNum = #{claimNum}
      </delete>
    <!-- 수정 -->  
	<update id="updateClaim" parameterType="com.final_project.help.Claim">
		UPDATE claim SET subject=#{subject}, content=#{content} where claimNum=#{claimNum}
	</update>
	
	
	<!-- 댓글달기 -->
	<insert id="insertReply" parameterType="com.final_project.help.ClaimReply">
	INSERT INTO claim_re(replyNum, claimNum, mId, replyAnswer)
	VALUES (claim_re_seq.NEXTVAL, #{claimNum}, #{mId}, #{replyAnswer}) 
	</insert>
	
	<!-- 댓글개수 -->
	<select id="replyDataCount" parameterType="map"
	            resultType="Integer">
	    SELECT NVL(COUNT(*), 0) FROM claim_re
	    WHERE claimNum=#{claimNum}
    </select>
	
	<!-- 댓글리스트 -->
	<select id="listReply" parameterType="map"
	            resultType="com.final_project.help.ClaimReply">
	    SELECT * FROM (
	        SELECT ROWNUM rnum, tb.* FROM (
	            SELECT replyNum, claimNum, r.mId, replyAnswer
	            FROM claim_re r 
	            JOIN member m ON r.mId = m.mId
	            WHERE claimNum=#{claimNum}
	            ORDER BY replyNum DESC
<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
]]>	    
    </select>
	

	
	
	
</mapper>