<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">



<!-- 회원가입 -->
<insert id="insertMember">
	INSERT INTO member (mid, mpwd, mname, mbirth, mgender) VALUES
	 (#{mid}, #{mpwd}, #{mname}, TO_DATE(#{mbirth}, 'MM/DD/YYYY'), #{mgender})
</insert>

<!-- 회원정보 불러오기 -->
<select id="readMember" resultType="com.final_project.member.Member" parameterType="String">
	SELECT m.mid, mpwd, mname, TO_CHAR(mbirth, 'YYYY-MM-DD')mbirth,
		mgender, TO_CHAR(mcreated, 'YYYY-MM-DD')mcreated, c.cSerial, proPhoto
			FROM member m
			left outer join company c on m.mid=c.mid
			join profile p on m.mId=p.mId
				WHERE m.mid = #{mid}
</select>

    <!-- 어쏘러티(권한) 테이블 -->    
	<insert id="insertAuthority" parameterType="com.final_project.member.Member">
	    INSERT INTO memberAuthority(mid, authority)
	        VALUES (#{mid}, #{authority})
	</insert>
	
	<update id="updateLastLogin" parameterType="String">
        UPDATE member SET last_login=SYSDATE 
                    WHERE mId=#{mId}
    </update>
    
    <select id="listAuthority" parameterType="String" resultType="com.final_project.member.Member">
	    SELECT mId, authority
	        FROM memberAuthority WHERE mId=#{mId}
	</select>
	
	<update id="updateAuthority" parameterType="com.final_project.member.Member">
	     UPDATE memberAuthority SET authority=#{authority}
	         WHERE mId=#{mId} AND authority=#{oldAuthority}
	</update>
    
	

</mapper>