<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scrap">
	
	
	<!-- 스크랩 Count -->
	<select id="countScrap" parameterType="map" resultType="Integer">
		select nvl(count(*), 0) from company_qu cq
			join company c on cq.cNum=c.cNum
 			where cq.cqQuestioner=#{mId}
	</select>
	
	<!-- 스크랩 리스트 -->
	<select id="listScrap" parameterType="map" resultType="com.final_project.member.Scrap">
				select TO_CHAR(scrapdate,'YYYY-MM-DD') scrapdate, cNum,cname,cesubject,TO_CHAR(ceend,'YYYY-MM-DD') ceend,C.cserial,E.cenum from com_employ E
				JOIN scrap S ON E.cenum = S.cenum
				JOIN company C ON E.cserial = C.cserial
				<trim prefix="WHERE" prefixOverrides="AND |OR ">
					<if test="mId !=''">
					AND S.mid = #{mId}
					</if>
					<!-- 채용마감공고 -->
					<if test="deadline == 'deadlineover'">
			        AND ceEnd &gt; sysdate
				    </if>
				    <!-- 채용중공고 -->
				    <if test="deadline == 'deadlinenotyet'">
				    AND ceEnd &lt; sysdate
				    </if>
				</trim>
	</select>
	
	<!-- 스크랩 삭제 delete from scrap where ceNum=#{ceNum}, mId=#{mId} -->
	<delete id="deleteScrap" parameterType="map">
		delete from scrap where  mId=#{mId} AND
		ceNum IN
		 <foreach item="v" collection="list" separator="," open="(" close=")">
		   #{v}
		 </foreach>
		
	</delete>
</mapper>
