<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="talent">
	<select id="mainClass" resultType="com.final_project.talent.Talent">
		select maCode mainCode, maName mainName from main_class
	</select>
	
	<select id="subClass" parameterType="map" resultType="com.final_project.talent.Talent">
		select subCode, subName from sub_class where maCode=#{mainCode}
	</select>
	
	<sql id="where-list">
		<if test="mainCode!='' and mainCode!=null">
			mc.maCode=#{mainCode} 
		</if>
		<if test="list!=null">
			and
			<foreach item="subCode" collection="list" separator="or">
				s.subCode=#{subCode} 
			</foreach>
		</if>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		select nvl(count(*), 0) 
		from( 
			select mId, r.rNum, LISTAGG(s.subName, ',') WITHIN GROUP(ORDER BY s.subCode) subTypes
			from member m 
			join resume r on m.mId=r.mId 
			left join intro i on r.rNum=i.rNum 
			join interest_job ij on m.mId=ij.mId 
			join sub_class s on ij.subCode=s.subCode 
			join main_class mc on s.maCode=mc.maCode 
			where resumeType=1 
		<if test="(mainCode!='' and mainCode!=null) and list!=null">
			and (<include refid="where-list" />)
		</if>
			group by mId, r.rNum, rName 
		)
	</select>
	
	<select id="searchList" parameterType="map" resultType="com.final_project.talent.Talent">
		select mId, rNum, rName, subTypes from(
			select rownum, tb.* from(
				select mId, r.rNum, rName, LISTAGG(s.subName, ',') WITHIN GROUP(ORDER BY s.subCode) subTypes
				from member m
				join resume r on m.mId=r.mId
				left join intro i on r.rNum=i.rNum
				join interest_job ij on m.mId=ij.mId
				join sub_class s on ij.subCode=s.subCode
				join main_class mc on s.maCode=mc.maCode
				where resumeType=1 
			<if test="(mainCode!='' and mainCode!=null) and list!=null">
				and (<include refid="where-list" />)
			</if>
				group by mId, r.rNum, rName
			)tb where <![CDATA[rownum<=#{end} 
		)where rownum>=#{start}]]>
	</select>
	
	<select id="searchSub" parameterType="map" resultType="com.final_project.talent.Talent">
		select mId, r.rNum, LISTAGG(s.subName, ',') WITHIN GROUP(ORDER BY s.subCode) subTypes 
		from member m 
		join resume r on m.mId=r.mId 
		join interest_job ij on m.mId=ij.mId 
		join sub_class s on ij.subCode=s.subCode 
		join main_class mc on s.maCode=mc.maCode 
		where resumeType=1 
		and mId=#{mId} 
		and r.rNum=#{rNum} 
		group by mId, r.rNum
	</select>
</mapper>