@CHARSET "UTF-8";

.photo_list_wrap{
	width: 1000px;
	margin: 30px auto 0px;
	box-sizing: border-box;
}

.photo_list_wrap h3{
	font-size: 20px;
	font-weight: bold;
}

.photo_list_wrap p{
	font-size: 12px;
	color : #ff0057;
	padding-left: 20px;
	margin-bottom: 40px;
}

.photo_list_subwrap{
	width: 900px;
	height : 900px;
	margin: 20px auto;
	box-sizing: border-box;
}

.photo_list_wrap .photo_list{
	width: 250px;
	height: 400px;
	border: 1px solid black;
	margin: 5px;
	float: left;
	background: #ffffc8;
}

.photo_list .photo_list_btns{
	text-align : center;
	margin : 0px auto;
	width : 200px;
	border-bottom : 1px solid #ccc;
	height: 50px;
}

.photo_list .photo_list_btns button{
		margin: 10px 5px 0px;
}

.photo_list .photo_list_img{
	height: 290px;
}
.photo_list .photo_list_img img{
	padding : 15px;
	width : 250px;
	height: 290px;
}
.photo_list .photo_list_subject{
	margin : 0px auto;
	width : 200px;
	font-size : 19px;
	height: 35px;
	border-bottom : 1px solid #ccc;
	text-align: center;
}
.photo_list .photo_list_create{
	margin : 0px auto;
	width : 200px;
	text-align : right;
	height: 25px;
}
