@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.created-created-body{
	clear:both;
    box-sizing: border-box;
    margin: 0px auto 15px;
    min-height: 720px;
    margin-top: 40px;
    width: 800px;
 	height: auto;
}

.created-created-body h3{
   margin-top: 40px;
   font-family: 'Jeju Gothic', serif;
}

.created-created-body .body-header{
	margin-bottom: 50px;
}


.created-created-body .form-group{
	margin-bottom: 30px;
}

.business-main{
	width: 150px;
	float: left;
	margin-right: 10px;
}

.business-sub{
	width: 150px;
	float: left;
	margin-right: 10px;
}

.business-title label{
	margin-right: 120px;
	margin-left: 10px;
	font-size: 12px;
}

.col-xs-2.original-filename{
	padding-top: 2px;
	width: auto;
}

.title-form-control label{
	margin-right: 150px;
	margin-left: 10px;
	font-size: 12px;
}

.main-form-control{
	width: 180px;
	float: left;
	margin-right: 10px;
}

.sub-form-control{
	width: 180px;
	float: left;
	margin-right: 10px;
}