@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.applicant-list-body{
	clear:both;
    box-sizing: border-box;
    margin: 0px auto 15px;
    min-height: 655px;
    margin-top: 40px;
    width: 800px;
 	height: auto;
}

.applicant-list-body h3{
   margin-top: 40px;
   font-family: 'Jeju Gothic', serif;
}

.applicant-list-body .body-header{
	margin-bottom: 50px;
}

.table-hover thead{
	text-align: center;
}

.table-hover th{
	text-align: center;
}

.list-comp{
	width: 100%; 
	margin: 10px auto;
}

.list-search{
	width: 100%;
	text-align: center;
}

.list-searchList{
	margin-right: 5px; 
}

.input-group{
	width: 300px;
}

.footer-bar {
	margin-top : 60px;
	clear: both;
}

.footer-bar .foorter-bar-refresh {
	float: left;
	width: 20%;
	min-width: 85px;
}

.footer-bar .footer-search-bar {
	float: left; 
 	width: 60%;
 	text-align: center;
}

.footer-bar .footer-bar-submit {
	float: left;
	width: 20%;
	min-width: 85px;
	text-align: right;
}

.content-name strong{
	font-size: 20px;
}

.content-info{
	float: right;
    margin-top: 10px;
	margin-right: 10px;
}





