@CHARSET "UTF-8";

.search{
	clear: both;
}

.search .search-select{
	text-align: left;
	float: left;
	width: 20%;
	min-width: 85px;
}

.search .search-name{
	width: 20%;
}

.search .search-name .{
	width: 20%;
}