@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.goverNews-created-body{
	clear:both;
    box-sizing: border-box;
    margin: 0px auto 15px;
    min-height: 655px;
    margin-top: 40px;
    width: 800px;
 	height: auto;
}

.goverNews-created-body h3{
   margin-top: 40px;
   font-family: 'Jeju Gothic', serif;
}

.goverNews-created-body .body-header{
	margin-bottom: 50px;
}

.goverNews-created-body .table .input_info {
    min-width: 100px;
    text-align: center;
    vertical-align: middle;
}













