@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.goverNews-article-body{
	clear:both;
    box-sizing: border-box;
    margin: 0px auto 15px;
    min-height: 720px;
    margin-top: 40px;
    width: 800px;
 	height: auto;
}

.goverNews-article-body h3{
	margin-top: 40px;
	font-family: 'Jeju Gothic', serif;
}

.goverNews-article-body .body-header{
	margin-bottom: 50px;
}













