@CHARSET "UTF-8";

.created_form{
	height : 700px;
	width: 950px;
	margin: 20px auto;
	
}

.created_form h3{
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 40px;
}

.table .input_info{
	width: 100px;
	text-align: center;
	vertical-align: middle; 
}

.table input{
	width: 300px;
}
