@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css); 



.notice_list_wrap h3{
   margin-top: 40px;
   font-family: 'Jeju Gothic', serif;
}

.notice_list_wrap p{
	font-size: 12px;
	color : #337ab7;
	padding-left: 20px;
	margin-bottom: 40px;
}


