@CHARSET "UTF-8";

body{
	background: #eef3f6;
}

.blank{
 	height : 50px;
}

.wrap{
	width: 920px;
	margin: 0 auto;
}

.panel-title{
	line-height: 50px;
	font-size: 17px;
	color : black;
}

.panel-link{
	line-height: 50px;
	font-size: 10px;
	color : #ccc;
	text-decoration: none;
}

.panel-group{
	height: 320px; 
	border: 1px solid black;
	box-sizing: border-box;
	background: white;
	text-align: center;
		
}

.panel-group .group-img{
	height: 150px;
	background-image: url('<%=cp%>/resources/image/Desert.jpg');
	background-size: cover;
	
}

.panel-group .group-name{
	border : 1px solid #ccc;
	height: 40px;
	padding : 10px 10px;
}

.panel-group .group-intro{
	border : 1px solid #ccc;
	height: 40px;
	
}

.panel-group .gruop-join{
	border : 1px solid #ccc;
	height: 40px;
	padding : 10px 10px;
}

.panel-hire{
	height: 220px; 
	border: 1px solid black;
}

.panel-busi{
	height: 220px;
	border: 1px solid black;
}

.panel-news{
	height: 500px;
	border: 1px solid black;
}
