@CHARSET "UTF-8";



.footer{
	margin-top : 50px;
	border-top: 1px solid #aaa;
	background: #eff3f6;
	padding: 10px 0 20px;
	height: auto;
	
	
}

.footer .container{
	text-align: center;
}

.footer .nav{
	display: inline-block;
}

.footer .container p {
	margin-top: 10px;
	
}

.footer .nav li {
	padding-left : 3px;
	float: left;
	
}