@CHARSET "UTF-8";

body{
	background: #eef3f6;
}

.blank{
 	height : 50px;
}

.wrap{
	width: 920px;
	margin: 0 auto;
}

.panel-title{
	line-height: 50px;
	font-size: 17px;
	color : black;
}

.panel-link{
	line-height: 50px;
	font-size: 10px;
	color : #ccc;
	text-decoration: none;
}

.panel-group{
	height: 320px; 
	box-sizing: border-box;
	background: white;
	text-align: center;
		
}

.panel-group .group-img{
	height: 170px;
	
}

.panel-group .group-img img{
	width: 100%;
	height: 100%;
}

.panel-group .group-name{
	font-size : 19px;
	font-weight : bold;
	height: 50px;
	padding : 10px 10px;
}

.panel-group .group-type{
	height: 40px;
	padding : 10px 10px;
}

.panel-group .gruop-join{
	height: 40px;
	padding : 10px 10px;
}

.panel-hire{
	height: 220px; 
	box-sizing: border-box;
	background: white;
	text-align: center;
}

.panel-hire .hire-info{
	width : 100%;
	height: 110px; 
}

.panel-hire .hire-info .hire-img{
	float : left;
	width : 40%;
	height: 100%; 
}

.panel-hire .hire-info .hire-img img{
	width : 100%;
	height: 100%; 
}

.panel-hire .hire-info .hire-etc{
	float:left;
	width : 60%;
	height: 100%;
}

.panel-hire .hire-info .hire-etc div{
	width : 100%;
	height : 33%;
	padding : 7px 0px;
	
}

.panel-hire .hire-type{
	height: 50px;
	line-height: 50px;
}

.panel-hire .hire-now{
	height: 50px;
	line-height: 50px;
}

.panel-busi{
	height: 260px; 
	box-sizing: border-box;
	background: white;
}

.panel-busi .busi-img{
	width:100%;
	height: 80px;
}

.panel-busi .busi-img img{
	margin : 10px 10px;
	width:35%;
	height: 80%;
}


.panel-busi .busi-name{
	padding : 10px 10px;
	font-size : 18px;
	font-weight : bold;
	height: 50px;
}
.panel-busi .busi-intro{
	margin-left : 10px;
	height: 50px;
}

.panel-busi .busi-etc div{
	float : left;
	padding : 10px;
	width : 30%;
	height: 80px;
}

.panel-busi .busi-etc .busi-etc-text{
	line-height: 60px;
}

.panel-busi .busi-etc div>img{
	width: 100%;
	height: 100%;
}


.panel-news{
	height: 500px;
	background: white;
	padding: 10px;
}

.panel-news h4{
	font-weight: bold;
}

.panel-news hr{
	margin-top: 0px;
    margin-bottom: 10px;
    border-top: 1px solid #2196F3;
}

.panel-news div{
	width : 425px;
	height : 480px;
}

.panel-news table{
	margin : 0 auto;
	width : 95%;
	height : 10%;
}

.panel-news .news-subject{
	font-size : 17px;
	font-weight: bold;
}

.panel-news .news-created{
	font-size : 12px;
	text-align: right;
	padding-top: 25px;
}
