
.jumbotron {
	background: #384653
		url('https://static.rocketpunch.com/img/index_header.jpg') no-repeat
		center top;
	background-size: cover;
	height: 400px;
}

.text-zone {
	text-align: center;
	padding: 100px 0 0;
}

.text-zone h2 {
	color: #fff;
	font-size: 28px;
}

.text-zone p {
	color: #fff;
	font-size: 15px;
}

.btn-group-lg>.btn, .btn-lg {
	width: auto; border-radius : 0px;
	background-color: #8cc74f;
	border-color: #91c957;
	border-radius: 0px;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
	color : #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background-color: #91c957;
	color : #fff;
}

.navbar-default{
	background-color : #2d3c4b;
	border-color : transparent;
	color : #fff;
}

.wrap_wide {
	background: #f5f5f5;
}

.breadcrumb{
	background-color: transparent;
}

.navbar-content{
	width: 320px;
	padding: 15px;
}
.navbar-footer {
	background-color: #ddd;
}
.navbar-footer-content{
	padding: 10px;
}

.col-md-7 span {
	color : #000;
}

.btn-xs{
	line-height: 1.1em;
}

.navbar-nav>li>.dropdown-menu{
	border-radius: 0px;
}
.dropdown-menu{
	padding: 0px;
}