@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.myInquiry-list-body{
	clear:both;
    box-sizing: border-box;
    margin: 0px auto 15px;
    min-height: 720px;
    margin-top: 40px;
    width: 800px;
 	height: auto;
}

.myInquiry-list-body h3{
   margin-top: 40px;
   font-family: 'Jeju Gothic', serif;
}

.myInquiry-list-body .body-header{
	margin-bottom: 50px;
}

.myInquiry-list-body .table-hover th {
    text-align: center;
}

.myInquiry-list-body .footer-bar {
    margin-top: 60px;
    clear: both;
}

.myInquiry-list-body .footer-bar-submit {
	float: left;
    width: 20%;
    min-width: 85px;
	text-align: left;
}

.myInquiry-list-body .footer-search-bar {
	float: left;
    width: 60%;
    text-align: center;
}





