@CHARSET "UTF-8";

.wrap_wide {
	background: #666;
	color: #fff;
}

.cmenu .wrap {
	position: relative;
	height: 42px;
	overflow: hidden;
}

.wrap {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.wrap2 {
	min-height: 400px;
}

.form-horizontal {
	margin: 0 auto;
	padding: 15px;
}

.form-horizontal.pwd {
	margin: 0 auto;
	padding: 15px;
	width: 500px;
	margin-top: 200px;
	min-height: 540px;
	
}

.form-horizontal-ss {
	margin: 0 auto;
	padding: 15px;
	height: auto;
	min-height: 200px;
}

.form-horizontal .form-group img {
	width: 100px;
	height: 100px;
	background-size: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.form-horizontal .form-group p {
	text-align: center;
}

.cmenu .nav>li.on>a, .cmenu .nav>li>a:hover, .cmenu .nav>li>a:focus {
	background-color: transparent;
	border-color: #fff;
}

.cmenu .nav-pills>li>a {
	color: #fff;
	border-bottom: 2px solid transparent;
	border-radius: 0;
}

.page.profile .wrap_wide.cover {
	position: relative;
	height: 250px;
}

.page.profile .cover .image {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #1d2129;
}

.page.profile .ontop {
	position: relative;
	min-height: 170px;
	margin-bottom: 45px;
}

.wrap>.main.all {
	float: none;
	width: 100%;
}

.section.summary {
	position: relative;
	padding: 0 0 0 200px;
}

.section.summary .user_thumb {
	position: absolute;
	left: 0;
	top: -90px;
	float: left;
}

.section.summary .user_thumb .preview {
	position: relative;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	border: 2px solid #fff;
	overflow: hidden;
}

.section.summary .user_thumb .preview .img-center {
	width: 180px;
	height: 180px;
}

.img-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.section .icontrol {
	display: inline;
}

.section.summary .user_thumb .icontrol .form-inline {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 110px 0 0;
	text-align: center;
}

#user_info {
	position: relative;
	left: 0;
	bottom: 10px;
	height: 0;
}

#user_info .name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

#user_info .name .job_title {
	display: inline;
	margin: 0;
	color: #aaa;
	font-size: 18px;
	vertical-align: bottom;
}

#user_info .name h2 {
	margin: 0;
	color: #fff;
	font-size: 24px;
	line-height: 42px;
	vertical-align: bottom;
}

#user_info .name span {
	font-size: 14px;
}

.section.summary .user_status {
	position: absolute;
	left: 0;
	top: 100px;
	float: left;
	width: 160px;
	text-align: center;
}

.modal-content {
	border-radius: 0px;
}

.panel-bodyimgs {
	padding: 30px 50px !important;
	height: 150px;
	background: #384653 url('../../resources/image/teamwork.jpg') no-repeat
		center top;
	background-size: cover;
	color: #fff !important;
}

.list-unstyled list clearfix {
	margin-right: -50px;
}

.panel-body {
	padding: 0;
	padding-top: 20px;
}

.contents {
	position: relative;
	z-index: 1;
}

.wrap {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

.panel {
	border-radius: 0;
}

.contents .section {
	margin-bottom: 50px;
}

.panel-default {
	background-color: transparent;
	box-shadow: none;
}

.panel-body.panel-view, .panel-body.panel-form {
	background-color: #fff;
}

.panel-default .panel-body {
	padding: 20px;
	border: 0;
}

.list4 {
	margin: -10px;
}

.list4>li {
	float: left;
	width: 25%;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #5f5f5f;
	outline: 0;
}

.section_box .list .panel {
	height: 120px;
	margin-bottom: 0px;
}

.section_box .list .pad-all {
	padding: 30px 15px 0;
}

.section_box .list .text-2x {
	margin-left: 5px;
	font-size: 16px;
}

.section_box .list-unstyled>li p {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #40a9c7;
}

.panel-head {
	margin-bottom: 10px;
}

.panel-info .panel-heading, .panel-info .panel-footer, .panel-info.panel-colorful
	{
	background-color: #46bbdc;
	border-color: #46bbdc;
	color: #fff;
}

.setting {
	margin-top: 30px;
	text-align: center;
}

a:HOVER {
	text-decoration: none;
	color: #525252;
	outline: 0 !important;
}

.panel-info .panel-heading, .panel-info .panel-footer, .panel-info.panel-colorful-cus
	{
	background: rgba(157, 84, 255, 0.96);
	color: #fff;
	border-color: transparent;
}

.bo {
	border-top: 1px solid #aaa !important;
}

.date.inline {
	display: inline-block;
	vertical-align: middle;
}

.form-control.inline {
	display: inline-block;
	width: auto;
	margin-right: 10px;
	vertical-align: top;
}